//
// Lighting models examples
//
// Author: Alex V. Boreskoff <steps3d@gmail.com>, <steps3d@narod.ru>
//


#include <winver.h>


#define VER_FILEVERSION			1,0
#define VER_FILEVERSION_STR		"1.0"
#define VER_PRODUCTVERSION		1,0
#define VER_PRODUCTVERSION_STR		"1.0"

#define VER_FILEFLAGSMASK		VS_FF_PRERELEASE | VS_FF_PATCHED
#define VER_FILEFLAGS			VS_FF_PRERELEASE
#define VER_FILEOS				VOS__WINDOWS32
#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT2_UNKNOWN

#define VER_COMPANYNAME_STR		""
#define VER_LEGALCOPYRIGHT_STR		"Author: Alex V. Boreskoff"
#define VER_PRODUCTNAME_STR		"Lighting models"

#define VER_ANSICP

#define VER_FILEDESCRIPTION_STR		"Lighting models"
#define VER_ORIGINALFILENAME_STR	"examples.exe"
#define VER_INTERNALNAME_STR		"examples"

#include <common.ver>
